@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Medium.eot');
    src: url('WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Medium.woff2') format('woff2'),
        url('WorkSans-Medium.woff') format('woff'),
        url('WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Bold.eot');
    src: url('WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Bold.woff2') format('woff2'),
        url('WorkSans-Bold.woff') format('woff'),
        url('WorkSans-Bold.svg#WorkSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.eot');
    src: url('WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-Regular.woff2') format('woff2'),
        url('WorkSans-Regular.woff') format('woff'),
        url('WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-BoldItalic.eot');
    src: url('WorkSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-BoldItalic.woff2') format('woff2'),
        url('WorkSans-BoldItalic.woff') format('woff'),
        url('WorkSans-BoldItalic.svg#WorkSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-MediumItalic.eot');
    src: url('WorkSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('WorkSans-MediumItalic.woff2') format('woff2'),
        url('WorkSans-MediumItalic.woff') format('woff'),
        url('WorkSans-MediumItalic.svg#WorkSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

