.blog {
    margin: 50px auto;
    padding: 0;
    @media (min-width: 768px) {
        margin: 70px auto;
    }
    .h2 {
        padding: 0px 20px;
        @media (min-width: 768px) {
            padding: 0;
        }
    }
    .article {
        &__item {
            background: #f4f4f4;
            border-radius: 5px;
            flex-wrap: wrap;
            padding: 40px 20px;
            margin-bottom: 10px;
            @media (min-width: 768px) {
                margin-bottom: 16px;
                width: calc(50% - 8px);
                padding: 15px;
            }
        }
        &__title {
            width: 100%;
        }
        &__image {
            @media (min-width: 768px) {
                height: 133px;
                min-height: auto;
            }
        }
        &__content {
            @media (min-width: 768px) {
                height: 133px;
                min-height: auto;
            }
        }
        &__excerpt {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
        &__button {
            width: 100%;
        }
    }
}
