.single {
    padding: 0px 20px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        padding: 0px 15px;
        margin: 50px auto;
    }
    &__cta {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        &-content {
            margin-bottom: 20px;
            @media screen and (min-width: 768px) {
                max-width: 60%;
                margin-bottom: 0;
            }
            p {
                max-width: initial;
                margin-bottom: 0;
                @media screen and (min-width: 768px) {
                    margin-bottom: 30px;
                }
            }
        }
        .button {
            width: 100%;
            align-self: flex-start;
            height: 57px;
            margin-bottom: 50px;
            @media screen and (min-width: 768px) {
                margin-left: auto;
                width: auto;
                margin-bottom: 0;
                min-height: 44px;
            }
        }
    }
    &__sliders {
        position: relative;
        @media screen and (min-width: 768px) {
            width: calc(50% - 25px);
            position: relative;
            height: 430px;
        }
    }
    &__hotel {
        .single__content {
            margin-top: 30px;
            @media screen and (min-width: 768px){
                margin-top: 70px;
            }
        }
        &-data {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        &-stats {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            @media screen and (min-width: 768px) {
                width: calc(50% - 25px);
                margin-left: 50px;
                margin-top: 0;
            }
            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                margin-bottom: auto;
            }
        }
        &-boxes {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            @media screen and (min-width: 768px){
                margin-top: 0;
            }
        }
        &-numbers {
            display: inline-flex;
            flex-direction: column;
            background: #ffffff;
            border-radius: 6px;
            margin-top: 10px;
            padding: 0;
            @media screen and (min-width: 768px) {
                border: 1px solid #a5a5a5;
                align-items: center;
                justify-content: center;
                padding: 17px 12px;
                margin-top: 26px;
            }
            strong {
                font-weight: 600;
                font-size: 36px;
                line-height: 42px;
                color: var(--color-secondary);
                margin-bottom: 16px;
            }
            span {
                display: flex;
                font-size: 16px;
                line-height: 19px;
                color: #a5a5a5;
                order: -1;
                margin-bottom: 5px;
                @media screen and (min-width: 768px) {
                    margin-bottom: 0;
                    order: 0;
                }
            }
            &.col-sm-6 {
                @media screen and (min-width: 768px) {
                    max-width: calc(50% - 30px);
                    margin: 26px 15px 0px 15px;
                }
            }
        }
    }
    &__map {
        height: 170px;
        margin-bottom: 40px;
    }
    &__table {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            min-width: 900px;
            ::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 7px;
            }
            ::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
            }
        }
        &-wrapper {
            @media screen and (max-width: 768px) {
                white-space: nowrap;
                overflow-x: scroll;
                min-width: calc(100% + 200px);
                ::-webkit-scrollbar {
                    -webkit-appearance: none;
                    width: 7px;
                }
                ::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background-color: rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
                }
            }
        }
        &-head {
            display: flex;
            background-color: #f4f4f4;
            border-bottom: #d4d4d4 solid 1px;
        }
        &-actions {
            .button:first-child {
                margin-right: 8px;
            }
        }
        &-th {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            padding: 10px 0;
            &:first-child {
                width: 30%;
                text-align: left;
                border-right: #d4d4d4 solid 1px;
                justify-content: flex-start;
                padding-left: 10px;
            }
            img {
                width: 76px;
                height: 76px;
                border-radius: 5px;
                background: white;
                padding: 5px;
            }
        }
        &-td {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            padding: 10px 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: var(--color-secondary);
            text-align: center;
            &:first-child {
                width: 30%;
                text-align: left;
                border-right: #d4d4d4 solid 1px;
                justify-content: flex-start;
                padding-left: 10px;
            }
        }
        &-body {
            display: flex;
            flex-direction: column;
        }
        &-row {
            display: flex;
            width: 100%;
            background-color: white;
            &:nth-of-type(odd) {
                background-color: #f4f4f4;
            }
        }
    }
}

.single__content {
    margin-top: 35px;
    padding: 0px;
    position: relative;
    img {
        border-radius: 5px;
        max-height: 300px;
        margin: 0px;
        max-width: 100%;
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
            max-height: 426px;
            margin-bottom: 0;
        }
        &.align-right {
            @media screen and (min-width: 768px) {
                float: right;
                margin: 0px 0px 40px 40px; /*  */
            }
        }
        &.align-left {
            @media screen and (min-width: 768px) {
                float: left;
                margin: 0px 40px 40px 0px;
            }
        }
    }
    p {
        color: #000000;
        font-size: 16px;
        line-height: 150.3%;
        margin-bottom: 30px;
        width: 100%;
        a {
            display: inline-block;
            font-size: 20px;
            line-height: 30px;
            color: var (--color-primary);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 600;
        color: #2d3133;
        letter-spacing: 0;
        margin-bottom: 24px;
        line-height: 130%;
        width: 100%;
    }
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 16px;
    }
    blockquote {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        p {
            color: var (--color-primary);

            font-size: 16px;
            color: #48c0b2;
            letter-spacing: 0;
            line-height: 150%;
            margin-bottom: 0;
        }
        cite {
            margin-top: 10px;
            display: block;
            margin-left: 15px;
        }
    }
    ul,
    ol {
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
        width: 100%;
        padding-left: 5px;
        list-style-type: none;
        margin-left: 20px;
        @media screen and (min-width: 768px) {
            margin-left: 20px;
            margin-bottom: 50px;
        }
        li {
            margin-bottom: 10px;

            font-size: 16px;
            line-height: 130%;
            color: #000000;
            width: 100%;
            position: relative;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        li a {
            display: inline-block;
            font-size: 16px;
            line-height: 130%;
            color: var (--color-primary);
            white-space: pre;
        }
    }
    ul {
        list-style-type: none;
        position: relative;
        li::before {
            content: "\2022";
            color: var (--color-primary);
            font-weight: bold;
            display: flex;
            font-size: 16px;
            margin-left: -25px;
            width: 25px;
            min-width: 25px;
            position: absolute;
            left: 0;
            top: 0;
            align-items: center;
        }
    }
}
