.accordion {
    .card {
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        
        .card-header {
            background-color: white;
            border-radius: 0;
            box-shadow: none;
            padding-left: 0;
        }
        .btn-link {
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: #2b2b2b;
            text-decoration: none !important;
            display: flex;
            align-items: center;
            padding-left: 0;
            border-radius: 0;
            outline: 0 !important;
            box-shadow: none;
            img{
                margin-right: 10px;
            }
        }
    }
}
