
.article {
    margin-top: 60px;
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        padding: 0 0 40px 0;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        width: 100%;
        text-decoration: none !important;
        margin-bottom: 60px;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            width: calc(50% - 20px);
            margin-bottom: 48px;
            align-items: center;
            flex-direction: row;
        }
        &:hover,
        &:hover * {
            outline: none !important;
        }
    }
    &--featured {
        @media screen and (min-width: 768px) {
            width: 100%;
            margin-bottom: 70px;
            align-items: center;
            flex-direction: row;
            
        }
        .article__image {
            height: 250px;
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 70%;
                height: 340px;
            }
        }
        .article__content {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: calc(30% - 20px);
            }
        }
        .article__title {
            font-weight: 700;
            font-size: 27px;
            line-height: 35px;
            margin-bottom: 20px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 50%;
            height: 100%;
        }
    }
    &__image {
        display: flex;
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-right: 20px;
            margin-bottom: 0;
            width: calc(50% - 20px);
            height: 170px;
            min-height: 100%;
        }
    }
    &__title {
        display: flex;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #2b2b2b;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin: 0 0 30px 0;
        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 23px;
        }
    }
    &__excerpt {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #2b2b2b;
    }
    &__button {
        height: 47px;
        font-size: 16px;
        line-height: 19px;
        padding: 0px 15px;
        width: 100%;
        font-weight: bold;
        @media screen and (min-width: 768px) {
            width: initial;
            height: 44px;
            margin-top: auto;
        }
    }
}
