.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    appearance: none !important;
    &-group {
        display: flex;
        flex-wrap: wrap;
        &--filters {
            margin-bottom: 50px;
            @media screen and (min-width: 768px) {
                margin-bottom: 70px;
                align-items: flex-end;
            }
            .button:first-child {
                margin-right: 20px;
                @media screen and (min-width: 768px) {
                    margin-right: 0;
                }
            }
            .button:not(:last-child) {
                max-height: 44px;
                width: calc(50% - 10px);
                padding: 12px 15px;
                @media screen and (min-width: 768px) {
                    margin-right: 20px;
                    width: auto;
                }
            }

            .form__group {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 15px;
                order: -1;
                @media screen and (min-width: 768px) {
                    margin-left: auto;
                    margin-bottom: initial;
                    width: auto;
                    order: initial;
                }
            }
            .form__label {
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: var(--color-secondary);
                margin-bottom: 10px;
            }
        }
    }
    &--primary {
        background: var(--color-primary);
        color: white;
        &:hover {
            background-color: var(--color-primary-shade);
            color: white !important;
            text-decoration: none;
        }
    }

    &--secondary {
        background: var(--color-secondary);
        color: white;
        &:hover {
            background-color: var(--color-secondary-shade);
            color: white !important;
            text-decoration: none;
        }
    }

    &--underline {
        color: var(--color-primary);
        text-decoration: underline;
        &:hover {
            color: var(--color-primary-shade);
        }
    }
    &--transparent {
        color: var(--color-primary);
        font-weight: 600;
        &:hover {
            color: var(--color-primary);
        }
    }
    &--rounded {
        border-radius: 5px;
    }
    &--shadowed {
        box-shadow: 2px 4px 11px rgba(255, 184, 56, 0.18);
    }
    &--back {
        width: 100%;
        padding-left: 0;
        font-size: 16px;
        line-height: 19px;
        color: #a5a5a5;
        justify-content: flex-start;
        font-weight: 400;
        img {
            margin-right: 12px;
            transition: transform 200ms ease-in;
        }
        &:hover {
            text-decoration: underline;
            color: #a5a5a5;
            img {
                transform: translateX(-5px);
                transition: transform 200ms ease-in;
            }
        }
    }
    &--filter {
        background: transparent;
        border: var(--color-secondary) 1px solid;
        padding: 12px 25px;
        color: var(--color-secondary);
        font-size: 16px;
        border-radius: 5px;
        img {
            margin-right: 13px;
        }
    }
    &--counter {
        em {
            font-size: 16px;
            color: var(--color-secondary);
            font-style: normal;
            margin-left: 13px;
        }
    }
    &--transparent {
        background-color: white;
        border: 1px solid #ffb838;
        border-radius: 5px;
        color: var(--color-secondary);
        font-weight: 400;
        em {
            color: white;
            font-style: normal;
            margin-left: 15px;
            background-color: var(--color-primary);
            border-radius: 2px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding: 1px 7px;
            display: flex;
        }
    }
    &--dropdown {
        border: none;
        font-size: 16px;
        line-height: 19px;
        color: #2b2b2b;
        background-color: #f4f4f4 !important;
        border-radius: 5px;
        padding: 12px 25px;
        background-position-x: calc(100% - 10px) !important;
        display: flex;
    }

    &--action {
        border: 0;
        background: white;
        padding: 13px;
        img {
            width: 19px;
            height: 19px;
        }
    }

    &--add {
        background: white;
        color: var(--color-secondary);
        border: 1px solid var(--color-primary);
        font-weight: 400;
        height: 44px;
        img {
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            background-color: var(--color-primary);
            margin-right: 8px;
            padding: 3px;
            border-radius: 2px;
        }
        &:hover {
            background-color: var(--color-primary);
            color: white;
            text-decoration: none;
        }
    }
    &--load {
        border: none;
        color: var(--color-primary);
        &:hover{
            color: var(--color-primary-shade);
            text-decoration: none;
        }
    }
}
