.cta {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        padding: 60px 0 0 0;
        margin-bottom: 100px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding: 0px 20px;
        @media screen and (min-width: 768px) {
            padding-right: 100px;
            padding-left: 0;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: var(--color-secondary);
        margin-bottom: 24px;
        max-width: 100%;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 22px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    &__placeholder {
        display: flex;
        padding: 0px 20px;
        @media screen and (min-width: 768px) {
            padding-left: 15px;
            padding-right: 0;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
    }
    &__image {
        height: 190px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
    &__button {
        height: 44px;
        margin-top: auto;
        font-size: 16px;
        line-height: 19px;
        padding: 0px 30px;
        width: 100%;
        font-weight: 700;
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
            width: initial;
        }
    }
}
