.destinations{
    display: flex;
    padding: 30px 0px 70px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (min-width: 768px){
        flex-direction: row;
    }
}

.destination{
    padding: 12px;
    background-color: #F4F4F4;
    border-radius: 5px;
    transform: translateX(0);
    transition: transform 300ms ease-in;
    width: 100%;
    margin-bottom: 16px;
    @media screen and (min-width: 768px){
        width: calc(50% - 8px);
    }
    cursor: pointer;
    &:hover{
        transform: translateY(-10px);
        box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.08);
    }
    &__country{
        font-size: 16px;
        line-height: 19px;
        color: #2B2B2B;
        opacity: 0.5;
        position: absolute;
        right: 15px;
        top: 15;
        font-style: initial;
    }
    &__name{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #00AC94;
        margin-bottom: 16px;
        padding-right: 60px;
        @media screen and (min-width: 768px){
            padding-right: 80px;
        }
    }
    &__city{
        font-size: 16px;
        line-height: 19px;
        color: #2B2B2B;
        opacity: 0.5;
         @media screen and (min-width: 768px){
            padding-right: 80px;
        }
    }
}
