.featured {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
        margin-top: 60px;
        padding: 0;
    }
    .h2{
        @media screen and (min-width: 768px){
            
        }
    }
    &__list {
        display: none;
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            justify-content: space-between;
            display: flex;
        }
    }
    &__item {
        background-color: white;
        padding: 16px;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        align-items: center;
        text-decoration: none !important;
        box-shadow: 8px 7px 25px rgba(0, 0, 0, 0.06);
        &:hover,
        &:hover * {
            outline: none !important;
        }
        @media screen and (max-width: 768px) {
            box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.08);
            display: flex !important;
        }
        @media screen and (min-width: 768px) {
            width: calc(50% - 20px);
            margin-bottom: 20px;
            will-change: transform;
            transform: translateY(0);
            transition: 100ms ease-in transform;
            &:hover {
                box-shadow: 0px 0px 16px 8px rgb(0 0 0 / 9%);
                transform: translateY(-10px);
                transition: 100ms ease-in transform;
            }
        }
        @media screen and (min-width: 992px) {
            width: calc(25% - 20px);
            margin-bottom: 0;
        }
    }
    &__image {
        display: flex;
        width: 100px;
        height: 100px;
        object-fit: contain;
        object-position: center;
        margin-right: 20px;
        border-radius: 5px;
    }
    &__title {
        display: flex;
        max-width: calc(100% - 120px);
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #2b2b2b;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}
