footer, .footer__wrapper {
    background-color: #2B2B2B;
    margin-top: auto;
    display: flex;
}
.footer {
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 70px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
        &:nth-of-type(1),
        &:nth-of-type(2) {
            align-items: center;
            justify-content: center;
        }
        &:nth-of-type(2) {
            order: -1;
            @media screen and (min-width: 768px) {
                order: initial;
            }
        }
        &:nth-of-type(3) {
            margin-bottom: 0;
            @media screen and (min-width: 768px) {
                align-items: flex-end;
                li {
                    text-align: right;
                }
            }
        }
    }
    &__item {
        color: white;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 8px;
    }
    &__label {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 0;
        @media screen and (min-width: 768px){
            line-height: 18px;
        }
    }
}
