.form {
    display: flex;
    &--search {
        background-color: transparent;
        margin-top: 30px;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            background-color: white;
            flex-direction: row;
            border-radius: 10px;
            padding-right: 4px;
            height: 60px;
            align-items: center;
        }
        .form__group {
            position: relative;
            background-color: white;
            margin-bottom: 10px;
            padding: 0px 12px;
            height: 60px;
            border-radius: 10px;
            justify-content: center;
            @media screen and (min-width: 768px) {
                padding-left: 15px;
                width: calc(50% - 90px);
                margin-bottom: 0;
                border-radius: 0;
                height: auto;
                & + .form__group {
                    &:after {
                        content: "";
                        width: 1px;
                        background: #d4d4d4;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
        .form__submit {
            width: 100%;
            padding: 0;
            margin-top: 6px;
            outline: 0;
            @media screen and (max-width: 768px) {
                padding: 0;
                margin-top: 6px;
            }
            @media screen and (min-width: 768px) {
                width: 140px;
                margin-top: 0;
                line-height: 20px;
                font-size: 20px;
            }
            img {
                width: 16px;
                height: 16px;
                margin-right: 8px;
                display: block;
            }
        }
    }
    &--header {
        background-color: white;
        height: auto;
        margin-top: 0;
        @media screen and (max-width: 768px) {
            border-radius: 5px;
            padding: 50px 15px 0px 15px;
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            height: 50px;
            margin: 0;
            border: 1px solid #2b2b2b;
        }
        .form__group {
            width: 100%;
            background: #f4f4f4;
            @media screen and (min-width: 768px) {
                width: calc(50% - 25px);
                background: white;
            }
            select {
                background-position-y: 0;
                background-position-x: calc(100% - 20px);
                @media screen and (min-width: 768px) {
                    background-position-y: 50%;
                    background-position-x: 100%;
                }
            }
        }

        .form__label {
            @media screen and (min-width: 768px) {
                font-size: 0;
                height: 0;
                width: 0;
                margin: 0;
                padding: 0;
            }
        }
        .form__submit {
            width: 100%;
            @media screen and (min-width: 768px) {
                font-size: 0;
                height: 41px;
                width: 41px;
                justify-content: center;
                align-items: center;
                img {
                    margin: 0;
                }
            }
        }
    }
    &--hotel, &--book {
        display: flex;
        flex-direction: column;
        .form__group{
            margin-bottom: 20px;
        }
        .form__label {
            font-size: 16px;
            line-height: 19px;
            color: #2b2b2b;
        }
        .form__input {
            background: #f4f4f4;
            border: 1px solid #2b2b2b;
            box-sizing: border-box;
            border-radius: 5px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            padding: 8px 10px;
        }
    }
    &--contact {
        flex-wrap: wrap;
        justify-content: space-between;
        .form__group {
            margin-bottom: 24px;
            width: 100%;
            @media screen and (min-width: 768px) {
                width: calc(50% - 20px);
            }
        }
        .form__label {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 19px;
            color: var(--color-secondary);
        }
        .form__input {
            background-color: #ffffff;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            padding: 12px;
            color: var(--color-secondary);
            opacity: 1;
        }
        .form__checkbox {
            margin-top: 0;
        }
    }
    &__group {
        display: flex;
        flex-direction: column;
        &-half {
            flex-direction: column;
            width: 100%;
            display: flex;
            @media screen and (min-width: 768px) {
                width: calc(50% - 20px);
                justify-content: space-between;
                flex-direction: row;
            }
            .form__group {
                @media screen and (min-width: 768px) {
                    width: calc(50% - 8px) !important;
                }
            }
        }
        &-full {
            width: 100% !important;
        }
        &-row {
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
            .form__label {
                @media screen and (min-width: 768px) {
                    width: 25%;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: 16px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    color: var(--color-secondary);
                }
            }
            .form__input {
                @media screen and (min-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    &__label {
        font-size: 17px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 2px;
        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }
    &__input {
        color: #2B2B2B;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        outline: 0 !important;
        ::placeholder {
            color: #2B2B2B;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__mockup {
        align-items: center;
        background-image: url("../assets/images/icon-dropdown.svg");
        background-repeat: no-repeat;
        background-size: 14px 5px;
        background-position-y: center;
        background-position-x: calc(100% - 30px);
        flex-direction: column;
        display: flex;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        span {
            font-size: 16px;
            line-height: 19px;
            color: #a5a5a5;
            font-weight: 400;
            display: flex;
            margin-top: 5px;
            @media screen and (min-width: 768px) {
                margin-left: 15px;
                margin-top: 0;
            }
        }
        ::placeholder {
            color: #000000;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__submit {
        border: 0;
        margin-left: auto;
        height: 57px;
        @media screen and (min-width: 768px) {
            height: 52px;
        }
    }
    &__datepicker {
        justify-content: space-between;
        display: flex;
        width: 100%;
        .form__group:first-of-type {
            width: 20%;
        }
        .form__group:nth-of-type(2) {
            width: 30%;
        }
        .form__group:nth-of-type(3) {
            width: 38%;
        }
        .form__input {
            padding: 8px 10px;
        }
        .form__label {
            margin-bottom: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 15px;
        color: #0d0d0d;
        letter-spacing: 0;
        line-height: 29px;
        pointer-events: none;
        padding-left: 40px;
        flex-wrap: wrap;
        margin-top: 30px;
        cursor: pointer;
        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: -0.02em;
            color: var(--color-secondary);
            margin-bottom: 15px;
            margin-top: 30px;
            @media screen and (min-width: 768px) {
                margin-bottom: 20px;
            }
        }
        &-group {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }
            .form__checkbox {
                width: 100%;
                padding-left: 40px;
                margin-bottom: 10px;
                margin-top: 0;
                @media screen and (min-width: 768px) {
                    width: calc(50% - 10px);
                }
            }
        }
        a {
            padding-left: 2px;
            pointer-events: initial;
            z-index: 2;
            position: relative;
            text-decoration: underline;
            color: var(--color-primary);
            cursor: pointer;
        }
        .form__checkbox-input span[role="alert"] {
            top: 26px;
            right: 0;
        }
        input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: initial;
            opacity: 0;
            cursor: pointer;
        }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + span:before,
        [type="checkbox"]:checked + span:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 26px;
            height: 26px;
            background: #f4f4f4;
            border-radius: 5px;
            cursor: pointer;
        }

        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + span:after,
        [type="checkbox"]:checked + span:after {
            background-image: url("../assets/images/icon-check.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 14px 12px;
            background-color: var(--color-primary);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.3em;
            color: white;
            transition: all 0.2s;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            border: 1px solid var(--color-primary);
            border-radius: 5px;
        }

        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + span:after {
            opacity: 0;
            transform: scale(0);
        }

        [type="checkbox"]:checked + span:after {
            opacity: 1;
            transform: scale(1);
        }

        /* disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + span:before,
        [type="checkbox"]:disabled:checked + span:before {
            box-shadow: none;
            border-color: var(--color-secondary);
            background-color: #f4f4f4;
            border-radius: 5px;
        }

        [type="checkbox"]:disabled:checked + span:after {
            background-color: var(--color-primary);
        }

        [type="checkbox"]:disabled + span {
            color: #aaa;
        }

        span[role="alert"] {
            position: absolute;
            right: 0;
            top: -15px;
            color: red;
            font-size: 15px;
            line-height: 15px;
            color: #d03f02;
        }
    }
}
body .form__group select {
    cursor: pointer;
    appearance: none;
    background: url("../assets/images/icon-dropdown.svg");
    background-repeat: no-repeat;
    background-size: 14px 5px;
    background-position-y: center;
    background-position-x: calc(100% - 30px);
    opacity: 1;
}
