.header {
    width: 100%;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    &__logo {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        color: white;
        width: 174px;
        height: 24px;
        background: url("../assets/images/logo.svg") no-repeat left center;
        background-size: 100%;
        &--dark {
            background: url("../assets/images/logo-dark.svg") no-repeat left center;
        }
        h1 {
            font-size: 0;
            color: transparent;
        }
    }
    &__menu {
        display: flex;
        list-style-type: none;
        &-list {
            display: flex;
            padding: 0;
        }
        &-item {
            display: flex;
            margin-right: 35px;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                &:after {
                    content: "";
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    display: block;
                    background: var(--color-secondary);
                    border-radius: 2px;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &-link {
            display: flex;
            height: 100%;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: var(--color-secondary);
            &:hover {
                color: var(--color-primary);
                text-decoration: none;
            }
        }
    }
    &__social {
        display: flex;
        list-style-type: none;
        &-list {
            display: flex;
            padding: 0;
        }
        &-item {
            display: flex;
            margin-right: 20px;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            display: flex;
            background: rgb(255 255 255 / 35%);
            background: #e5e5e5;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color 200ms ease-in;
            will-change: background-color;
            
            &:hover {
                background: rgb(201 201 201);
            }
        }
    }
    &--homepage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        .header__menu-item.active:after {
            background-color: white !important;
        }
        .header__menu-link {
            color: white !important;
        }
        .header__social-link {
            background: rgb(255 255 255 / 35%) !important;
            color: white;
            &:hover{
                color: white;
                background: rgb(0 0 0 / 25%) !important;
            }
        }
    }
    &--search {
        display: flex !important;
        .container {
            justify-content: flex-start;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
        }
        .form--header {
            @media screen and (min-width: 768px) {
                transform: translateX(-86px); //half the logo size
                margin: auto;
                min-width: 30%;
            }
        }
    }
}
