.hotel {
    display: flex;
    width: 100%;
    flex-direction: column;
    &:not(:last-child){
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1200px){
        flex-direction: row;
    }
    &-list{
        display: flex;
        flex-direction: column;
        width: 100%
    }
    &__image {
        display: flex;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;
        @media screen and (min-width: 1200px){
            width: 218px;
            min-height: 100%;
            margin-right: 20px;
            margin-bottom: 0;
        }
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width: 1200px){
            width: calc(100% - 238px); //image+margin
        }
    }
    &__header {
        display: flex;
        margin-bottom: 16px;
        justify-content: space-between;
       
    }
    &__nameholder {
        display: flex;
        flex-direction: column;
    }
    &__origin {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 19px;
        color: #a5a5a5;
        font-style: normal;
        font-weight: normal;
    }
    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: var(--color-secondary);
    }
    &__rating {
        display: flex;
         align-items: flex-start;
        img:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px){
            flex-direction: row;
            justify-content: space-between;
        }

    }
    &__data {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        @media screen and (min-width: 768px){
            align-items: center;
            margin-bottom: 0;
        }
        &-label {
            font-size: 16px;
            line-height: 19px;
            color: #a5a5a5;
            margin-bottom: 4px;
        }
        &-counter {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #2b2b2b;
        }
    }
    &__footer {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        @media screen and (min-width: 768px){
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: row;
            margin-top: 20px;
        }
        .button{
            min-height: 54px;
            margin-top: 30px;
            @media screen and (min-width: 768px){
                min-height: 44px;
                margin-top: 0;
            }
        }
    }

    &__progress {
        position: relative;
        display: flex;
        flex-direction: column;
        position: relative;
        &-grade {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #a5a5a5;
            margin-bottom: 5px;
            b {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #2b2b2b;
            }
        }
        &-bar {
            height: 10px;
            border-radius: 5px;
            background-color: #f4f4f4;
            width: 150px;
            position: relative;
        }
        &-score {
            height: 10px;
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 5px;
            background-color: #00ac94;
        }
    }
}
