.modal {
    &-dialog {
        @media screen and (max-width: 768px) {
            align-items: flex-end;
            margin: 0;
            height: 100vh;
            max-height: 100vh;
            overflow-y: scroll;
        }
    }
    &-content {
        background: #ffffff;
        border-radius: 5px;
        border: none;
        @media screen and (max-width: 768px) {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    &-header {
        border-top: 0;
        border-radius: 0;
        padding: 25px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .close {
            float: left;
            margin: 0px auto 0px 0px;
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            span {
                font-weight: normal;
                font-size: 26px;
                line-height: 26px;
                color: var(--color-secondary);
                opacity: 1 !important;
            }
        }
    }
    &-footer {
        display: flex;
        justify-content: space-between;
        .button--primary {
            border: none;
            border-radius: 5px;
            width: 40%;
            font-size: 20px;
        }
        .button {
            min-height: 44px;
            &:nth-of-type(1) {
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: -0.02em;
                border: 0;
                color: #a5a5a5;
            }
        }
    }
    &-title {
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
    }
    &__rating {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 40px;
        &-grade {
            img {
                width: 41px;
                height: 41px;
            }
        }
    }
    
}
