.offcanvas {
    display: none;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 999;
        width: 100%;
    }
    &--dark{
        .offcanvas__top{
            background-color: var(--color-secondary);
        }
    }
    &--homepage{
        position: absolute;
        top: 0;
        left: 0;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        height: 80px;
        background: transparent;
        padding: 0px 30px;
        position: relative;
        width: 100%;
        align-items: center;
        z-index: 99;
    }
    .offcanvas__logo {
        width: 44px;
        height: 30px;
        color: transparent;
        font-size: 0;
        display: flex;
        user-select: none;
    }
    &__main {
        transform: translateX(100%);
        transition: transform 200ms ease-in;
        background: var(--color-secondary);
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 98;
        overflow: scroll;
        height: 100vh;
        padding: 130px 0 0 50px;
    }
    &__navigation {
        display: block;
        width: 100%;
        height: 100%;
        list-style-type: none;
        padding: 0;
        overflow-x: visible;
        overflow-y: scroll;
        height: 70vh;
        height: calc(100vh - 140px);
        margin: 0;
        padding-bottom: 100px;
    }

    &__navigation-item {
        display: flex;
        opacity: 0;
        transform: translateY(20px);
        transition: transform 100ms ease-in 1s, opacity 100ms ease-in 750ms;
        &.is-active a {
            color: var(--color-primary);
        }
    }
    &__navigation-link {
        font-size: 27px;
        color: white;
        line-height: 47px;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
        width: 100%;
        height: 100%;
        &:hover,
        &:active {
            color: white;
            text-decoration: none;
        }
    }
    &--opened {
        overflow: hidden;
        .offcanvas{
            position: fixed;
        }
        .offcanvas__navigation-item {
            display: flex;
            opacity: 1;
            transform: translateY(0);
        }

        .offcanvas__main {
            transform: translateX(0px);
            transition: transform 300ms ease-in;
        }
    }
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background: transparent;
    z-index: 10;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-right: -15px;
}

/* .hamburger:hover
    opacity: 0.7

.hamburger.is-active:hover
    opacity: 0.7 */

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: white;
}

.hamburger-box {
    width: 21px;
    height: 13px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 21px;
    height: 2.2px;
    background-color: white;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -3.2px;
}
.hamburger-inner::after {
    bottom: 3.2px;
}

/*
* Spring
*/

.hamburger--spring .hamburger-inner {
    transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
    top: 5.4px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
    top: 10.8px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
    top: -3px;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
    top: -3px;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}
