.page {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 70px 20px 0px 20px;
    @media screen and (min-width: 768px){
        padding: 40px 15px 0px 15px;

    }
    .button--back{
        margin-bottom: 32px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: var(--color-secondary);
        margin-bottom: 8px;
    }
    &__excerpt {
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: var(--color-secondary);
        margin-bottom: 24px;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 22px;
            max-width: 60%;
        }
    }
    &__body{
        display: flex;
        padding-bottom: 70px;
    }
    &__content{
        width: 100%;
        @media screen and (min-width: 992px){
            width: 60%;
        }
    }
    &__map{
        display: none;
        @media screen and (min-width: 992px){
            width: calc(40% - 70px);
            margin-left: 70px;
            display: flex;
        }
    }
}
