.partners {
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;
    .container {
        padding: 0px 25px;
        @media screen and (min-width: 768px) {
            padding: 0px;
        }
    }
    h2{
        color: var(--color-primary);
    }
    &__item {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        outline: none !important;

    }
    &__image {
        display: flex;
        width: 100px;
        height: 100px;
        object-fit: contain;
        object-position: center;
        filter: grayscale(1);
    }
}
