.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    &__search {
        position: relative;
        z-index: 3;
        width: 100%;
        & > div {
            margin: auto;
        }
        select {
            background-position-y: 0 !important;
            background-position-x: calc(100% - 15px) !important;
            @media screen and (min-width: 768px) {
                background-position-x: calc(100%) !important;
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        color: white;
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    &:after {
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: black;
        opacity: 0.3;
        z-index: 2;
    }
}

.slider {
    height: 100% !important;
    position: static !important;
    padding: 0 !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    &.slick-initialized {
        visibility: visible;
        opacity: 1;
    }
    img {
        max-width: 100%;
        height: auto;
    }

    &--search {
        width: 100vw;
        height: 100vh !important;
        position: absolute !important;
        left: 0;
        top: 0;
        margin-bottom: 0 !important;
        .slider__item {
            width: 100%;
            height: 100%;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slick-track {
            height: 100%;
        }
        .slick-list {
            height: 100%;
        }
        .slick-slide > div {
            width: 100%;
        }
        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide > div {
            height: 100%;
            padding: 0 !important;
        }
    }
    &__item {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    &--partners {
        position: static;
        padding: 0;
        padding-bottom: 60px;

        .slick-slide {
            height: 100%;
            div:first-child {
                height: 100%;
            }
        }
        .slick-slide {
            margin: 0;
            background-color: white;
            padding: 16px;
            margin: 0px 10px !important;
            will-change: transform;
            transition: 100ms ease-in transform;
            box-shadow: 4px 7px 22px rgba(0, 0, 0, 0.06);
            border-radius: 5px;
            position: relative;
            @media screen and (min-width: 768px) {
                &:hover {
                    transition: 100ms ease-in transform;
                    transform: scale(1.4);
                    z-index: 99;
                    .partners__image {
                        filter: grayscale(0);
                    }
                }
            }
        }
        .slick-track {
            height: 100%;
            margin: 0;
            @media screen and (min-width: 768px) {
                margin-left: -10px;
            }
        }
        .slick-list {
            height: 100%;
            overflow: visible;
        }
        .slick-dots {
            bottom: -50px;
        }
        .slick-center {
            border: 2px solid blue;
        }
    }

    &--featured {
        display: flex !important;
        .slick-track {
            padding: 20px 0;
        }
        .slick-slide {
            margin: 0 10px;
        }
        .slick-list {
            padding: 10px 0;
        }
        @media screen and (min-width: 768px) {
            display: none !important;
        }
    }

    &--hotel {
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            height: 337px !important;
        }
        .slick-slide {
            height: 300px;
            border-radius: 10px;
            overflow: hidden;
            @media screen and (min-width: 768px) {
                height: 100%;
            }
        }
        img {
            min-height: 100%;
            width: 100%;
            min-width: 100%;
            object-fit: cover;
            object-position: center;
        }
        div {
            min-height: 100%;
            height: 100%;
        }

        .slick-prev,
        .slick-next {
            top: 175px;
        }
    }
    &--hotel-nav {
        img {
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }

        div {
            min-height: 100%;
            height: 100%;
        }
        .slick-slide {
            height: 80px;
            min-height: 80px;
            border-radius: 10px;
            margin: 0px 6px;
            overflow: hidden;
        }
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 35px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 99;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    line-height: 1;
    opacity: 0.75;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    width: 20px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
}

.slick-next {
    right: 16px !important;
    transform: rotate(180deg) translate(0, 50%);
    &:before {
        background-image: url("../assets/images/icon-slider-arrow.svg");
    }
    @media (--mobile-max) {
        display: none !important;
    }
}
.slick-prev {
    left: 16px !important;
    &:before {
        background-image: url("../assets/images/icon-slider-arrow.svg");
    }
    @media (--mobile-max) {
        display: none !important;
    }
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    z-index: 4;
    display: flex;
    justify-content: center;

    width: 100%;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5;
    padding: 20px 0;
    width: 30px;
    height: 2px;
    margin: 0 5px;
    cursor: pointer;
}
.slick-dots li button {
    display: block;
    width: 100%;
    height: 2px;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    content: "";

    opacity: 1;
    background-color: gray;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button {
    height: 4px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    background: #ffb838;
    height: 4px;
}
