.steps {
    padding-top: 40px;
    padding: 40px 20px 0px 20px;
    .single__cta {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: var(--color-secondary);
        margin-bottom: 24px;
        margin-top: 20px;
        width: 100%;
    }
    &__add {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
        margin-bottom: 40px;
        &--dark {
            background-color: #f4f4f4;
        }
    }
    .single__table-td,
    .single__table-th {
        width: 20% !important;
        border: none !important;
    }
    .single__table-head {
        border: none;
        background-color: white;
    }
    &__contact {
        display: flex;
        background-color: #f4f4f4;
        border-radius: 5px;
        padding: 10px;
        margin: 30px 0 60px 0;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        &-image {
            height: 160px;
            border-radius: 5px;
            @media screen and (min-width: 768px) {
                margin-right: 40px;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4 {
                font-weight: 500;
                font-size: 20px;
                line-height: 140.5%;
                letter-spacing: -0.03em;
                margin-top: 15px;
                @media screen and (min-width: 768px) {
                    margin-top: 0;
                }
            }
            p {
                font-size: 16px;
                line-height: 140.5%;
                letter-spacing: -0.03em;
                margin-bottom: 30px;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
            a {
                display: flex;
                font-size: 16px;
                line-height: 140.5%;
                letter-spacing: -0.03em;
                color: var(--color-secondary);
                align-items: center;
                margin-bottom: 10px;
                @media screen and (min-width: 768px) {
                    font-size: 20px;
                    margin-bottom: 0;
                }
                &:first-child{
                    @media screen and (min-width: 768px) {
                        margin-right: 50px;
                    }
                }
            }
            div {
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                margin-right: 12px;
                @media screen and (min-width: 768px) {
                    width: 43px;
                    height: 43px;
                }
            }
            svg {
                width: 17px;
                height: 17px;
               
            }
        }
    }
    &__hotel{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
        @media screen and (min-width: 768px){
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &-item{
            display: inline-flex;
            width: 100%;
            margin-bottom: 20px;
            text-decoration: none !important;
            @media screen and (min-width: 768px){
                width: calc(33.3% - 10px);
                justify-content: space-between;
            }
            img{
                height: 80px;
                border-radius: 5px;
                overflow: hidden;
                margin-right: 12px;
                width: 120px;
                object-fit: cover;
                object-position: center;
            }
            h4{
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #2B2B2B;
                
            }
        }
    }
}
