.tags {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    @media screen and (min-width: 768px) {
        padding: 0px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }
    &__item {
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        background-color: #f4f4f4;
        width: 100%;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            margin-right: 20px;
            margin-bottom: 20px;
            width: initial;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        &:hover {
            outline: none !important;
            color: var(--color-secondary);
        }
    }
    .button--load{
        display: flex;
        @media screen and (min-width: 768px){
            display: none;
        }
    }
}
