html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans";
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
}

@media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container{
    max-width: 1240px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0;
  font-weight: bold;
  font-family: "Work Sans";
}

.h2 {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2b2b2b;
}


hr {
  border-color: #e6e6e6;
  background: #e6e6e6;
  border: 0;
  &.divider{
    background: #D4D4D4;
    width: 50%;
    height: 1px;
    margin-top: 20px;
    &--mobile{
      @media screen and (max-width: 768px){
        width: 100%;
      }
    }
  }

}


svg:not(.svg-no-prefill) {
  * {
    fill: currentColor;
  }
}

input::-webkit-input-placeholder {
  color: gray;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: gray;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: gray;
}

input:-ms-input-placeholder {
  color: gray;
}

.wrapper{
  overflow-x: hidden;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
