
/** Tagungshotel CSS Variables **/
:root {
  /** gold **/
  --color-primary: #FFB838;
  --color-primary-contrast: #ffffff;
  --color-primary-shade: #faac20;
  /** gry **/
  --color-secondary: #2B2B2B;
  --color-secondary-contrast: #ffffff;
  --color-secondary-shade: #2B2B2B;
    /** green  **/
  --color-tertiary: #00AC94;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-shade: #00AC94;
  /** success **/
  --color-success: #509e2f;
  --color-success-contrast: #ffffff;
  --color-success-shade: #439122;
  /** warning **/
  --color-warning: #FFD700;
  --color-warning-contrast: #000000;
  --color-warning-shade: #e0ac08;
  /** danger **/
  --color-danger: #eb445a;
  --color-danger-contrast: #ffffff;
  --color-danger-shade: #cf3c4f;

  
  --font-family: "Stratos";
  --ripple-color: transparent !important;
}
